@model PaginatedList<Department>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Departments";
}

<div class="d-flex pb-1" style="justify-content:space-between; align-items:center;">
    <h4 class="ps-1">
        <i class="fa-brands fa-delicious"></i> @ViewData["Title"]
    </h4>
    <hr />
    <ul class="breadcrumbs ps-0">
        <li><a href="/">Home</a></li>
        <li class="divider">/</li>
        <li><a href="/departments/" class="active">@ViewData["Title"]</a></li>
    </ul>
</div>


<div class="bg-white rounded-3 p-3 d-flex justify-content-between align-items-center">

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
        <i class="fa-solid fa-plus"></i> Create New
    </button>
    <div class="search-container">
        <form asp-action="Index" method="get">
            <div class="form-group me-4">
                <input type="text" name="search" class="form-control" placeholder="Search ..." value="@ViewBag.Search" />
                <button type="submit" class=""> <i class="bx bx-search icon"></i></button>
            </div>
        </form>
    </div>
    <hr />
    <div class="d-flex justify-content-end me-4">
        <form asp-action="Index" method="get" class="form-inline">
            <input type="hidden" name="search" value="@ViewBag.Search" placeholder="Items per page:.." />
            <select name="pageSize" id="pageSize" class="form-control" onchange="this.form.submit()">
                <option value="4" selected="@(ViewBag.PageSize == 4)">4 Items per page</option>
                <option value="10" selected="@(ViewBag.PageSize == 10)">10 Items per page</option>
                <option value="20" selected="@(ViewBag.PageSize == 20)">20 Items per page</option>
                <option value="50" selected="@(ViewBag.PageSize == 50)">50 Items per page</option>
            </select>
        </form>
    </div>
    <hr />
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                    role="tab" aria-controls="pills-home" aria-selected="true">
                <i class='bx bxs-dashboard'></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                    aria-selected="false">
                <i class='bx bx-list-ul'></i>
            </button>
        </li>
    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" 
    aria-labelledby="pills-home-tab" tabindex="0">
        <div class="row px-1 p-2">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="card h-100 rounded-3 p-2">
                        <span style="position: absolute; right: 15px">
                            @Html.DisplayFor(modelItem => item.DepartmentId)
                        </span>
                       @*  <div class="rounded-1 overflow-hidden card-img-top">
                             <a data-bs-toggle="modal" href="#model_@item.DepartmentId"  data-bs-whatever role="button">
                            <img style="object-fit: cover;"
                                 src="@Html.DisplayFor(modelItem => item.RoomTypeImage)" class="img-fluid"
                                 alt=" @Html.DisplayFor(modelItem => item.RoomTypeName)">
                            </a>
                        </div> *@
                        <div style="padding: 1rem 5px;" class="card-body">
                            <h5 class="card-title ps-0 pt-0 border-bottom p-2" style="color:#8080f1;">
                                <i class="fa-solid fs-5 fa-circle-dot"></i> @Html.DisplayFor(modelItem => item.DepartmentName)
                            </h5>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.Description)
                            </p>
                        </div>

                        <div class="card-footer text-end">
                            <a class="px-2" data-bs-toggle="modal" href="#model_@item.DepartmentId" data-bs-whatever role="button">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a class="px-2 text-success" data-bs-toggle="modal" href="#detmodel_@item.DepartmentId" data-bs-whatever role="button">
                                <i class="fa-regular fa-eye"></i>
                            </a>

                            <a class="px-2 text-danger" data-bs-toggle="modal"
                               href="#delmodel_@item.DepartmentId"
                               data-bs-whatever role="button">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
         aria-labelledby="pills-profile-tab" tabindex="0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-success table-head-fixed">
                    <tr>
                        <th>
                            DepartmentId
                        </th>
                        <th>
                            DepartmentName
                        </th>
                        <th>
                            Description
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <button type="button" class="btn text-info border-0" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="px-3 py-1 d-flex justify-content-between align-items-center" data-bs-toggle="modal"
                                           href="#model_@item.DepartmentId"
                                           data-bs-whatever role="button">
                                            Edit <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="px-3 py-1 d-flex justify-content-between align-items-center text-success" data-bs-toggle="modal"
                                           href="#detmodel_@item.DepartmentId"
                                           data-bs-whatever role="button">
                                            Details <i class="fa-regular fa-eye"></i>
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="px-3 py-1 d-flex justify-content-between align-items-center text-danger" data-bs-toggle="modal"
                                           href="#delmodel_@item.DepartmentId"
                                           data-bs-whatever role="button">
                                            Delete <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
    @* Pagination Controls *@
    <div aria-label="Page navigation" class="mt-3 py-3 d-flex align-items-center justify-content-between"
         style="border-top: 1px solid #e7e1f1;">
        <p style="font-size: 14px;">

            Showing @((Model.PageIndex - 1) * Model.PageSize + 1) to @(Math.Min(Model.PageIndex * Model.PageSize, Model.TotalItems)) of @Model.TotalItems items
        </p>
        <ul class="pagination justify-content-end mb-0">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { search = ViewBag.Search, pageIndex = Model.PageIndex - 1, pageSize = ViewBag.PageSize })"><i class='bx bxs-chevrons-left'></i></a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link"><i class='bx bxs-chevrons-left'></i></span>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { search = ViewBag.Search, pageIndex = i, pageSize = ViewBag.PageSize })">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index",
                    new { search = ViewBag.Search, pageIndex = Model.PageIndex + 1, pageSize = ViewBag.PageSize })">
                        <i class='bx bxs-chevrons-right'></i>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link"><i class='bx bxs-chevrons-right'></i></span>
                </li>
            }
        </ul>
    </div>
</div>

 <!-- Modal for Create -->
<partial name="_Create" model="new Department()" />
<!-- Modal for Edit -->
@foreach (var item in Model)
{
   <partial name="_Edit" model="item" />
   <partial name="_Details" model="item" />
   <partial name="_Delete" model="item" />
}
    
                         