@{
	Layout = "_Layout";
	ViewBag.title = "Dashboard";
}

<div class="block_content" data-aos="fade"
	 data-aos-offset="200"
	 data-aos-delay="50"
	 data-aos-duration="500"
	 data-aos-easing="ease-in-out">
	<div style="display:flex; justify-content:space-between; align-items:center;">
		@* <h1 class="title">Dashboard</h1> *@
		<ul class="breadcrumbs ps-0">
			<li><a href="#">Home</a></li>
			<li class="divider">/</li>
			<li><a href="#" class="active">Dashboard</a></li>
		</ul>
	</div>
	<div class="info-data">
		<div class="card">
			<div class="head">
				<div>
					<h2>@ViewBag.TotalRooms</h2>
					<p >Rooms</p>
					@* <p>Active Rooms (@ViewBag.TotalRoomsActive)</p> *@
				</div>
				<i class='bx bx-trending-up icon'></i>
			</div>
			<span class="progress" data-value="@ViewBag.RoomCount%"></span>
			<div class="d-flex justify-content-between align-items-center">
				<span class="label">@ViewBag.RoomCount%</span>
				<a title="View list" href="/room" class="label">
					<i class="fa-regular fa-eye"></i>
				</a>
			</div>
		</div>
		<div class="card">
			<div class="head">
				<div>
					<h2>@ViewBag.TotalempsAcive/@ViewBag.TotalEmployees</h2>
					<p">Employees</p>
					@* <p>Employees (@ViewBag.TotalempsAcive) people</p> *@
				</div>
				<i class='bx bx-trending-down icon down'></i>
			</div>
			<span class="progress" data-value="@ViewBag.ActiveEmployeePercentage%"></span>
			<div class="d-flex justify-content-between align-items-center">
				<span class="label">@ViewBag.ActiveEmployeePercentage%</span>
				<a title="View list" href="/employee" class="text-white label">
					<i class="fa-regular fa-eye"></i>
				</a>
			</div>
		</div>
		<div class="card">
			<div class="head">
				<div>
					<h2>
						@ViewBag.CustsTotal
					</h2>
					<p>Customer</p>
				</div>
				<i class='bx bx-trending-up icon'></i>
			</div>
			<span class="progress" data-value="@ViewBag.CustsCountPercentage%"></span>
			<div class="d-flex justify-content-between align-items-center">
				<span class="label">@ViewBag.CustsCountPercentage%</span>
				<a title="View list" href="/customer" class="text-white label">
					<i class="fa-regular fa-eye"></i>
				</a>
			</div>
		</div>
		<div class="card">
			<div class="head">
				<div>
					<h2>235</h2>
					<p>Booking</p>
				</div>
				<i class='bx bx-trending-up icon'></i>
			</div>
			<span class="progress" data-value="80%"></span>
			<span class="label">80%</span>
		</div>
	</div>
	<div class="data">
		
		<div class="content-data">
			<div class="head">
				<h3>Reservations Report</h3>
				<div class="menu">
					<i class='bx bx-dots-horizontal-rounded icon'></i>
					<ul class="menu-link">
						<li><a href="#">Edit</a></li>
						<li><a href="#">Save</a></li>
						<li><a href="#">Remove</a></li>
					</ul>
				</div>
			</div>
			<div class="chart">
				<div id="chart"></div>
			</div>
		</div>

		<div class="content-data">
			<div class="head">
				<h3>Chatbox</h3>
				<div class="menu">
					<i class='bx bx-dots-horizontal-rounded icon'></i>
					<ul class="menu-link">
						<li><a href="#">Edit</a></li>
						<li><a href="#">Save</a></li>
						<li><a href="#">Remove</a></li>
					</ul>
				</div>
			</div>
			<div class="chat-box">
				<p class="day"><span>Today</span></p>
				<div class="msg">
					<img src="~/images/avta.jpg" alt="">
					<div class="chat">
						<div class="profile">
							<span class="username">Alan</span>
							<span class="time">18:30</span>
						</div>
						<p>Hello</p>
					</div>
				</div>
				<div class="msg me">
					<div class="chat">
						<div class="profile">
							<span class="time">18:30</span>
						</div>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum eos quam
							dolores eligendi exercitationem animi nobis reprehenderit laborum! Nulla.
						</p>
					</div>
				</div>
				<div class="msg me">
					<div class="chat">
						<div class="profile">
							<span class="time">18:30</span>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, architecto!</p>
					</div>
				</div>
				<div class="msg me">
					<div class="chat">
						<div class="profile">
							<span class="time">18:30</span>
						</div>
						<p>Lorem ipsum, dolor sit amet.</p>
					</div>
				</div>
			</div>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Type...">
					<button type="submit" class="btn-send"><i class='bx bxs-send'></i></button>
				</div>
			</form>
		</div>
	</div>
</div>


