@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<div id="calendar"></div>
<partial name="_Create" model="new Reservation()" />
<table class="table">
    <thead>
        <tr>
            <th>Reservation ID</th>
            <th>Customer</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Total Cost</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReservationId</td>
                <td>@item.Customer?.CustomerId</td>
                <td>@item.CheckInDate</td>
                <td>@item.CheckOutDate</td>
                <td>@item.TotalCost</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ReservationId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ReservationId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>